@font-face {
  font-family: myFirstFont;
  src: url(../Fonts/KaushanScript-Regular.ttf);
}
.brand {
  font-weight: bold;
  font-size: 50px;
  font-family: myFirstFont;
  color: #49111c;
}

a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
}

.button {
  background-color: #f2f4f3;
  border: none;
  color: #000000;
  width: 110px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 0px 2px;
}
.button:hover {
  background-color: #cfa671;
  color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.site-header {
  height: 90px;
  position: absolute;
  /* padding-top: 10px; */
  width: 100%;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  background-color: #f2f4f3;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
}

.nav__toggle {
  display: none;
}
@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --top-spacing: 90px;
  scroll-padding-top: var(--top-spacing);
}

body {
  font-family: "Roboto", sans-serif;
  margin: var(--top-spacing) auto;
}

.heading-title {
  margin-bottom: 50px;
}
.heading-title h2 {
  color: #010101;
  font-size: 28px;
  font-family: "Arbutus Slab", serif;
}
.heading-title p {
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
}

.text-center {
  text-align: center !important;
}
.contact-imfo-box {
  background: #d0a772;
  padding: 30px 0;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.contact-imfo-box i {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  color: #d0a772;
  font-size: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 20px;
}
.contact-imfo-box h4 {
  margin: 0px;
  margin-top: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 0px;
  font-weight: 500;
  line-height: 24px;
}
.contact-imfo-box p {
  margin: 0px;
  color: #ffffff;
  font-weight: 300;
}

.all-page-title .container {
  position: relative;
  z-index: 2;
}
.all-page-title::before {
  background: #010101;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
.all-page-title h1 {
  font-size: 38px;
  color: #ffffff;
  font-family: "Arbutus Slab", serif;
  padding: 0px;
}

.contact-box {
  padding: 70px 0px;
}

.page-breadcrumb {
  padding: 250px 0 150px;
  background: url(../images/all-bg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}
.all-page-title .container {
  position: relative;
  z-index: 2;
}
.all-page-title::before {
  background: #010101;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
.all-page-title h1 {
  font-size: 38px;
  color: #ffffff;
  font-family: "Arbutus Slab", serif;
  padding: 0px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* .container {
  min-width: 992px !important;
} */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col-lg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 80%;
  padding-left: 20%;
}

.form-group {
  margin-bottom: 1rem;
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #6c757d;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.help-block ul li {
  color: red;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(128, 189, 255, 0.5);
}
.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}
.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}
.custom-select::-ms-expand {
  opacity: 0;
}
.d-block {
  display: block !important;
}

@font-face {
  font-family: mySecondFont;
  src: url(../Fonts/Overlock-Regular.ttf);
}

.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  font-family: mySecondFont;
}

.btn.btn-common {
  color: #d0a772;
  background-color: transparent;
  background-image: none;
  border-color: #cfa671;
}
.btn.btn-common:hover {
  color: #ffffff;
  background-color: #cfa671;
  border-color: #cfa671;
}

.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 8%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-volume-control-phone:before {
  content: "\f2a0";
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-map-marker:before {
  content: "\f041";
}
.footer-area {
  padding-top: 50px;
  padding-bottom: 0px;
}
.footer-area .container {
  position: relative;
  z-index: 1;
}

.footer-area h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
  margin-bottom: 10px;
}
.footer-area p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding-bottom: 10px;
}

.footer-area p.lead {
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-area p.lead a {
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-area p.lead a:hover {
  color: #d0a772;
}
.footer-area p a {
  font-size: 18px;
  color: #ffffff;
}
.footer-area p a:hover {
  color: #d0a772;
}

.bg-f {
  background-image: url("../images/footer-bg.jpg");
  background-attachment: scroll;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0);
  background-origin: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-f::before {
  background: #010101;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}

.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  font-family: mySecondFont;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.subscribe_form {
  display: block;
  text-align: center;
  padding: 5px 0;
}

.subscribe_form .form_input {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  font-size: 19px;
  line-height: 50px;
  padding: 0 10px;
  float: left;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
  background-color: #d0a772;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  display: inline-block;
  padding: 0 10px;
  float: left;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.subscribe_form .submit:hover {
  background: #010101;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.f-social {
  padding-bottom: 10px;
  margin: 0px;
  margin-top: 20px;
}
.f-social li a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 10px;
}

.copyright {
  margin-top: 20px;
  position: relative;
  display: block;
  background-color: #010101;
  border-top: 1px dashed rgba(207, 166, 113);
  padding: 30px 0;
  z-index: 1;
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
}
.copyright .company-name a {
  font-size: 16px;
}
